<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<link rel="stylesheet" href="{{ dtCssPath }}/jquery.dataTables.css">

<div class="dataTables_wrapper">

</div>
